{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'income' %}">Income</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add Income</li>
    </ol>
  </nav>

  <div class="card search-box">
    <div class="card-body">
      <form action="{% url 'add-income' %}" method="post">
        {% include 'partials/messages.html' %} {% csrf_token %}

        <!-- Amount Field -->
        <div class="mb-3">
          <label for="amount" class="form-label">Amount</label>
          <input
            type="number"
            class="form-control search-box"
            id="amount"
            name="amount"
            value="{{ values.amount }}"
            placeholder="Enter amount"
          />
        </div>

        <!-- Description Field -->
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input
            type="text"
            class="form-control search-box"
            id="description"
            name="description"
            value="{{ values.description }}"
            placeholder="Enter description"
          />
        </div>

        <!-- Category Field -->
        <div class="mb-3">
          <label for="" class="form-label">Sources</label>
          <select class="form-select search-box" name="source" id="source">
            {% for source in sources %}
            <option value="{{ source.name }}">{{ source.name }}</option>
            {% endfor %}
          </select>
        </div>

        <!-- Date of Expense Field -->
        <div class="mb-3">
          <label for="" class="form-label">Date of Income</label>
          <input
            type="date"
            class="form-control search-box"
            id="income_date"
            name="income_date"
          />
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-outline-primary rounded-pill">
          Submit
        </button>
        <a
          href="{% url 'income' %}"
          class="btn btn-outline-primary rounded-pill mx-2"
          >Back</a
        >
      </form>
    </div>
  </div>
</div>
<style>
  .search-box {
    border-radius: 20px !important;
  }
</style>
{% endblock %}
