{%load static%}
<nav
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block sidebar collapse custom-sidebar"
>
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          class="nav-link dashboard"
          aria-current="page"
          href="{% url 'dashboard' %}"
        >
          <span data-feather="home"></span>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link dashboard" href="{% url 'expenses' %}">
          <span data-feather="file"></span>
          Expenses
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link dashboard" href="{% url 'income' %}">
          <span data-feather="shopping-cart"></span>
          Income
        </a>
      </li>
    </ul>

    <ul class="nav flex-column">
      <!-- <li class="nav-item">
        <a class="nav-link  dashboard" aria-current="page" href="#">
          <span data-feather="home"></span>
          Settings
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link dashboard" href="{% url 'preferences' %}">
          <span data-feather="file"></span>
          Settings
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link dashboard" href="{% url 'profile' %}">
          <span data-feather="shopping-cart"></span>
          Account
        </a>
      </li>
    </ul>
  </div>
</nav>
<style>
  :root {
    --bs-primary: #405d72; /* Customize primary color */
    --bs-light: #f8f9fa; /* Customize light color */
  }
  .custom-sidebar {
    background-color: var(--bs-primary);
  }
  .custom-sidebar .navbar-brand,
  .custom-sidebar .nav-link {
    color: var(--bs-light);
  }

  .dashboard:hover {
    background-color: #758694;
  }
</style>
